# Created by https://www.toptal.com/developers/gitignore/api/pycharm,flask
# Edit at https://www.toptal.com/developers/gitignore?templates=pycharm,flask

### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
.pdm.toml
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/